# Light Validation Report

learners: rows=500 header_columns=7
courses: rows=60 blank_instructor_name=6
enrolment_activity: rows=2000
duplicate_enrolment_id_count=10 duplicated_ids_sample=['ENR01188', 'ENR01548', 'ENR01081', 'ENR01554', 'ENR00704', 'ENR01322', 'ENR01769', 'ENR01850', 'ENR01809', 'ENR01887']
blank_last_activity_date_count=330 (16.50%)
assessment_score_blank_count=1179 (58.95%)
actual_completion_date_null_for_non_completed=1179
sample_enrolments_head:
{'enrolment_id': 'ENR00460', 'learner_id': 'LRN0376', 'course_id': 'CRS001', 'enrol_date': '2024-01-13', 'expected_completion_date': '2024-02-12', 'actual_completion_date': '2024-02-21', 'status': 'Completed', 'progress_pct': '100', 'last_activity_date': '2024-02-21', 'assessment_score': '79.22', 'attempts': '1', 'feedback_rating': '2', 'certificate_issued': 'Yes'}
{'enrolment_id': 'ENR00681', 'learner_id': 'LRN0486', 'course_id': 'CRS055', 'enrol_date': '2024-01-16', 'expected_completion_date': '2024-01-26', 'actual_completion_date': '2024-01-19', 'status': 'Completed', 'progress_pct': '100', 'last_activity_date': '2024-01-19', 'assessment_score': '56.62', 'attempts': '1', 'feedback_rating': '3', 'certificate_issued': 'No'}
{'enrolment_id': 'ENR01477', 'learner_id': 'LRN0352', 'course_id': 'CRS044', 'enrol_date': '2024-03-16', 'expected_completion_date': '2024-06-04', 'actual_completion_date': '2024-03-31', 'status': 'Completed', 'progress_pct': '100', 'last_activity_date': '2024-03-31', 'assessment_score': '93.98', 'attempts': '1', 'feedback_rating': '4', 'certificate_issued': 'Yes'}
{'enrolment_id': 'ENR00554', 'learner_id': 'LRN0474', 'course_id': 'CRS035', 'enrol_date': '2024-02-01', 'expected_completion_date': '2024-04-21', 'actual_completion_date': '', 'status': 'Dropped', 'progress_pct': '8', 'last_activity_date': '2024-02-07', 'assessment_score': '', 'attempts': '1', 'feedback_rating': '', 'certificate_issued': 'No'}
{'enrolment_id': 'ENR00640', 'learner_id': 'LRN0240', 'course_id': 'CRS038', 'enrol_date': '2024-02-11', 'expected_completion_date': '2024-03-12', 'actual_completion_date': '2024-03-01', 'status': 'Completed', 'progress_pct': '100', 'last_activity_date': '2024-03-01', 'assessment_score': '81.21', 'attempts': '2', 'feedback_rating': '3', 'certificate_issued': 'Yes'}